<main class="h-screen flex content-center items-center">
	<div class="font-mono p-8 container max-w-md text-center border-8 rounded-md border-red-200">
		<div>
			<h1 class="text-5xl">Calculator</h1>
			<p class="text-lg pt-4">
				It's simple! All you have to do is update the following two input fields with two valid integers. From there you can run any equation
				from left to right i.e. X + Y. Simply click the "Get Operations" button below to see what types of equations you can run.
			</p>
		</div>
		<div>
			<form class="m-10 flex flex-wrap -mx-3 mb-6" #calculate="ngForm">
				<div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="x">X</label>
					<input
						required
						max="100000"
						min="-100000"
						class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
						name="inputX"
						type="number"
						ngModel
					/>
				</div>
				<div class="w-full md:w-1/3 px-3 flex flex-col items-center">
					<div class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="operation">Operation</div>
					<div class="mt-2 text-xl">{{ operation }}</div>
				</div>
				<div class="w-full md:w-1/3 px-3">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="y">Y</label>
					<input
						required
						max="100000"
						min="-100000"
						class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
						type="number"
						name="inputY"
						ngModel
					/>
				</div>
				<div class="w-full" *ngIf="!availableOperations">
					<button
						type="button"
						(click)="getOperations()"
						class="mt-10 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-auto"
					>
						Get Operations
					</button>
				</div>
				<div class="w-full flex flex-nowrap justify-between" *ngIf="availableOperations">
					<button
						class="m-2 mt-10 w-15 p-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded"
						type="submit"
						*ngFor="let operation of availableOperations"
						(click)="onSubmit(calculate.value, operation)"
					>
						{{ operation.name }}
					</button>
				</div>
			</form>
			<div *ngIf="result || result == 0" class="text-4xl text-center">{{ result }}</div>
		</div>
	</div>
</main>
